<section id="home-page">
  <div class="filter">
    <section id="home-header">
      <p class="header-project-name">CarboMex</p>
      <div class="header-buttons">
        <button class="header-white-button">Inicia sesión</button
        ><button class="header-white-button">Regístrate</button>
      </div>
    </section>
    <main class="header-main">
      <h1>
        ¿Necesitas evaluar un terreno y calcular su captura de carbono en
        diversos escenarios?
      </h1>
      <button class="big-brown-button">Haz click para evaluar</button>
    </main>
    <section id="footer">
      <p class="footer-p">Creada por T-error en tiempo de ejecución</p>
      <p class="footer-p">@annamar26 @isvaoc @AbrahamR @emmaspace</p>
    </section>
  </div>
</section>
