#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  box-sizing: border-box;
  background-color: rgb(221, 161, 94);
  font-family: "Montserrat", sans-serif;
  #question {
    padding: 3em;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  @supports (object-fit: contain) {
    #randomImg {
      
        width: 40%;
      height: 100%;
     
      img {
        height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
  }
}
