<div id="container"  >
  <div id="question"@enterStateQ>
    <h2>{{question}}</h2>
    <mat-form-field appearance="fill" >
      <mat-select aria-dropeffect="popup" aria-setsize="50%" (valueChange)="handleChange($event)">
        <mat-option *ngFor="let value of values" [value]="value.value">
          {{ value.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="select-container">
      <select>
        <option [value]="">Selecciona una opción</option>
        <div class="select-options">
          <option [value]="value.value" *ngFor="let value of values">
            {{ value.viewValue }}
          </option>
        </div>
      </select>
    </div>
  </div>
  <div id="randomImg">
    <img
      src="https://st.depositphotos.com/1011382/2845/i/450/depositphotos_28454079-stock-photo-sunset-hdr-over-the-ocean.jpg"
      alt=""
    />
  </div>
</div>
