<section id="home-page">
  <div class="filter">
    <section id="home-header">
      <p class="header-project-name">CarboMex</p>
      <div class="header-buttons">
        <button class="header-white-button">Inicia sesión</button
        ><button class="header-white-button">Regístrate</button>
      </div>
    </section>
    <main class="header-main">
      <h2>Resultados de la evaluación</h2>
      <p>
        Aunque pueden existir conflictos de propiedad en las Áreas del Proyecto,
        la Reserva no puede emitir créditos en las zonas donde existen estas
        disputas. Por lo tanto, todas las Áreas de Actividad deben de estar
        libres de conflicto o diputas (a discreción de la Reserva) con respecto
        a la propiedad del terreno. <p> La fecha cuando comienzan las actividades
        del proyecto no podrá ser de más de doce meses antes de la fecha cuando
        se somete el proyecto. El Dueño Forestal deberá de demostrar que las
        actividades del proyecto que inician en una fecha determinada puedan ser
        verificadas a través de una acción u evento. </p><p> En aquellos casos en los
        que un proyecto quiera iniciar actividades en donde existía un proyecto
        de carbono forestal previo en el pasado, será necesario firmar una
        declaración jurada que mencione que no hay gravámenes en curso o
        expectativas de cumplimiento de actividades específicas de manejo
        forestal. Los Proyectos Forestales no podrán localizarse en áreas en
        donde se haya terminado un proyecto de carbono forestal como resultado
        de una alternación natural significativa.</p>
      </p>
    </main>
    <section id="footer">
      <p class="footer-p">Creada por T-error en tiempo de ejecución</p>
      <p class="footer-p">@annamar26 @isvaoc @AbrahamR @emmaspace</p>
    </section>
  </div>
</section>
